.DS_Store
.dev.vars
.env
.git
.github
.pytest_cache
.venv
.venv-workers
.vscode
Source Liturgies
__pycache__
cloudflare/node_modules
cloudflare/.wrangler
instance
python_modules
tests
venv
worker
cloudflare_worker
*.pyc
