{% extends 'base.html' %}

{% block content %}

<div id="page">

	<h2>About</h2>

	{% set about_text %}
Ordinarium is a liturgy planning workspace that incorporates the structure and rubrics of the ACNA 2019 *Book of Common Prayer*, enabling clergy and liturgists to assemble, order, and manage liturgical orders of service. It supports the selection of propers, readings, prayers, and ceremonial elements; their arrangement into a coherent liturgy; and export or sharing for use in planning, presentation, or printed materials.

You can message us on <a href="https://bsky.app/profile/ordinarium.com" target="_blank">Bluesky</a>.

Thank you to <a href="https://liturgical-calendar.com" target="_blank">liturgical-calendar.com</a> for providing church calendar data and associated logic.
	{% endset %}
	{{ about_text | markdown_template }}

</div>

{% endblock %}
