{% extends 'base.html' %}

{% block content %}

<div id="page">

	<h2>Welcome to Ordinarium</h2>

	{% set intro_text %}
Ordinarium is a liturgy planning workspace supporting the assembly, ordering, and management of liturgical orders of service. We currently support the eucharistic services from the <a href="https://anglicanchurch.net/" target="_blank">Anglican Church in North America</a> *Book of Common Prayer* (2019).
	{% endset %}
	{{ intro_text | markdown_template }}

	{% if user %}
	<h3>Upcoming services</h3>
	{% if upcoming_services %}
	<ul>
		{% for service in upcoming_services %}
			<li>
				{{ service.display_date }} —
				<a href="{{ url_for('main.service', service_id=service.id) }}">{{ service.title }}</a>
				(<a href="{{ url_for('main.text', service_id=service.id) }}">view</a>)
			</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No upcoming services.</p>
	{% endif %}

	<p><a href="{{ url_for('main.services') }}">View all services</a></p>
	{% else %}
	<p>
		<a class="button" href="{{ url_for('main.signup') }}">Sign up</a>
		<a class="button" href="{{ url_for('main.login') }}">Log in</a>
	</p>
	{% endif %}

</div>

{% endblock %}
