:root {
	--body-font-family: apple-system-ui-serif, ui-serif, Georgia, serif;
	--body-background-color: #fff;
	--body-color: #000;
}

html {
	margin: 0;
	padding: 0;
	zoom: 120%;
}
body {
	background-color: var(--body-background-color);
	color: var(--body-color);
	font-size: 11pt;
	margin: 0;
	padding: 0;
	font-family: var(--body-font-family);
}

main {
	max-width: 680px;
	margin: 0 auto;
	padding: 20px;
}

div#text {
	h1 {
		font-size: 15pt;
		font-weight: 200;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		line-height: 25pt;
		margin: 10pt 0;
		small {
			font-size: 12pt;
			letter-spacing: 0.1em;
			em {
				font-size: 10pt;
				text-transform: none;
			}
		}
	}
	h2 {
		font-size: 12pt;
		font-weight: 400;
		text-align: center;
		font-style: italic;
		margin: 10pt 0;
	}
	h3 {
		font-size: 10pt;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		margin: 10pt 0;
	}
	h6 {
		font-size: 9pt;
		font-weight: 400;
		text-align: right;
		text-transform: uppercase;
		margin: -10pt 0 10pt 0;
	}
	strong {
		font-weight: 600;
	}
	small {
		font-size: 9pt;
	}
	p {
		/* line-height: 1.5; */
		margin: 10pt 0;
		text-wrap: pretty;
	}
	pre {
		margin: 0 auto;
	}
	code {
		color: var(--body-color);
		font-size: 11pt;
		font-family: var(--body-font-family);
		font-weight: 600;
		white-space-collapse: preserve;
		text-wrap-mode: nowrap;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul li {
		display: inline-block;
		box-sizing: border-box;
	} 
	ul li + li {
		margin-left: 1em;
		padding-left: 1em;
		border-left: 1px solid #ccc;
	}
	p:has(> em:first-child):has(:not(em)) {
		> em {
			display: inline-block;
			margin-right: 0.5em;
			min-width: 4.5em;
			font-size: 10pt;
			text-align: right;
		}
		.trailing-indent {
			/* Distasteful hack */
			display: inline-block;
			width: calc(100% - 5em);
			vertical-align: top;
		}
	}
}
